@model Edux.Models.DataTable

@{
    ViewData["Title"] = " Yeni Veri Tablosu";
}

<h2>Oluþtur</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>DataTable</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DisplayName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Top" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Top" class="form-control" />
                <span asp-validation-for="Top" class="text-danger"></span>
            </div>
        </div>
        
        <input asp-for="CreateDate" class="form-control" type="hidden" />
        <input asp-for="CreatedBy" class="form-control" type="hidden" />
        <input asp-for="UpdateDate" class="form-control" type="hidden" />
        <input asp-for="UpdatedBy" class="form-control" type="hidden" />
        <input asp-for="AppTenantId" class="form-control" type="hidden" />

   

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Oluþtur" class="btn btn-primary" />
            </div> 
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Listeye Geri Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
