@model Edux.Models.Component

@{
    ViewData["Title"] = "Bileşenleri Düzenle";
}

<h2>Düzenle</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Bileşenler</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DisplayName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ComponentTypeId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ComponentTypeId" class="form-control" asp-items="ViewBag.ComponentTypeId"></select>
                <span asp-validation-for="ComponentTypeId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="View" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="View" class="form-control">
                <span asp-validation-for="View" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ParentComponentId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ParentComponentId" class="form-control" asp-items="ViewBag.ParentComponentId">
                    <option value="">Seçiniz</option>
                </select>
                <span asp-validation-for="ParentComponentId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FormId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="FormId" class="form-control" asp-items="ViewBag.Forms">
                    <option value="">Seçiniz</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Position" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Position" class="form-control">
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
        </div>

    </div>
  
    <input type="hidden" asp-for="Id" />
    <input asp-for="CreateDate" class="form-control" type="hidden" />
    <input asp-for="CreatedBy" class="form-control" type="hidden" />
    <input asp-for="UpdateDate" class="form-control" type="hidden" />
    <input asp-for="UpdatedBy" class="form-control" type="hidden" />
    <input asp-for="AppTenantId" class="form-control" type="hidden" />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Kaydet" class="btn btn-primary" />
        </div>
    </div>
</form>

<div>
    <a asp-controller="Forms" asp-action="Edit" asp-route-id="@Model.FormId">Listeye Geri Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}




