@model Edux.Models.PageViewModels.DisplayViewModel
@{ 
    ViewData["Title"] = Model.Page.MetaTitle;
    ViewData["Description"] = Model.Page.MetaDescription;
    ViewData["Keywords"] = Model.Page.MetaKeywords;
    Layout = Model.Page.LayoutView ?? ((App)ViewBag.App).DefaultLayout;
}
<h1>@Model.Page.Title</h1>

@await Component.InvokeAsync(Model.Page.Components.FirstOrDefault(c=>c.Name=="Container").ComponentType.Name, new { component = Model.Page.Components.FirstOrDefault(c=>c.Name=="Container") })
@section scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}