
@{
    ViewData["Title"] = "Search";
    
}

<div class="container-fluid">
    <h1>Gelişmiş Arama</h1>
    <div class="col-md-12">
        <div class="form-group">
            <label>Sorgu</label>
            <input class="form-control" type="text" placeholder="Sorgu aracını kullanın" />
            <small><a href="#">Sorguyu Temizle</a></small>
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-md-2">
            <div class="form-group">
                <label>Giriş Elemanı</label>
                <select class="form-control"><option selected>Seçiniz</option></select>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label>Değer</label>
                <div class="input-group">
                    <input class="form-control" type="text" />
                    <div class="glyphicon glyphicon-remove" onclick=""></div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group hidden ">
                <label>&nbsp;</label>
                <select class="form-control"> </select>
            </div>
        </div>     
    </div>
    <div class="col-md-3">
        <div class="form-group condition-form">
            <label> &nbsp;</label>
            <select class="form-control item-condition">
                <option value="OR">VEYA</option>
                <option value="AND">VE</option>
                <option value="NOT">DEĞİL</option>
            </select>
        </div>
    </div>
    <div class="row-fluid col-md-12">
        <input class="btn btn-success" type="button" value="Ara">
    </div>
</div>

