
@{
    ViewData["Title"] = "Search";

}

<div class="container-fluid">
    <h1>Gelişmiş Arama (Entity)</h1>
    
        <div class="row-fluid">
            <div class="col-md-2">
                <label>Özellik</label>
                <select class="form-control"><option>Özellik Seçiniz</option></select>
            </div>
            <div class="col-md-2">
                <label>Operatör</label>
                <select class="form-control"><option>Operatör Seçiniz</option></select>
            </div>
            <div class="col-md-8">
                <label>Değer</label>
                <div class="input-group">


                    <input class="form-control" type="text" />

                    <div class="input-group-addon remove-field-item" onclick="">
                        <a href="javascript:void(0)" title=""><i class="fa fa-trash"></i></a>
                    </div>
                    <div class="input-group-addon add-field-item" onclick="">
                        <a href="javascript:void(0)" title=""><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
 

<script src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>





