@model Edux.Models.Field

@{
    ViewData["Title"] = "Yeni Alanlar";
}

<h2>Oluştur</h2>

<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Alan</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DisplayName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
        </div>

        <input title="FormIdRef" type="hidden" value="@ViewBag.FormIdRef" name="FormIdRef" class="form-control" />

        <div class="form-group">
            <label asp-for="FormId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="FormId" class ="form-control" asp-items="ViewBag.FormId"><option value="">Seçiniz</option></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EntityId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="EntityId" class="form-control" asp-items="ViewBag.EntityId"><option value="">Seçiniz</option></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PropertyId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PropertyId" class ="form-control" asp-items="ViewBag.PropertyId"><option value="">Seçiniz</option></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TabId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="TabId" class="form-control" asp-items="ViewBag.Tabs"><option value="">Seçiniz</option></select>
                <span asp-validation-for="TabId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Row" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Row" class="form-control" type="number"/>
                <span asp-validation-for="Row" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Col" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Col" class="form-control" type="number"/>
                <span asp-validation-for="Col" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Position" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EditorType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="EditorType" class="form-control" asp-items="Html.GetEnumSelectList<EditorType>()"><option value="">Seçiniz</option></select>
                <span asp-validation-for="EditorType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DefaultValue" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DefaultValue" class="form-control" />
                <span asp-validation-for="DefaultValue" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OptionLabel" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OptionLabel" class="form-control" />
                <span asp-validation-for="OptionLabel" class="text-danger"></span>
            </div>
        </div>
            <div class="form-group">
                <label asp-for="OnClick" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input type="text" asp-for="OnClick" class="form-control" />
                </div>

            </div>
            <div class="form-group">
                <label asp-for="OnChange" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input type="text" asp-for="OnChange" class="form-control" />
                </div>
            </div>
        
                <input type="hidden" asp-for="Id" />
                <input asp-for="CreateDate" class="form-control" type="hidden"/>
                <input asp-for="CreatedBy" class="form-control" type="hidden"/>
                <input asp-for="UpdateDate" class="form-control" type="hidden"/>
                <input asp-for="UpdatedBy" class="form-control" type="hidden" />
                <input asp-for="AppTenantId" class="form-control" type="hidden" />
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Oluştur" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Listeye Geri Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
    function LoadProperties(elm) {
            // seçilen ülkenin id sini al
            var entityId = $(elm).val();

            // secilen ülkenin id sini kullanarak Konum controller
            // sınıfı içerisindeki Sehirler metoduna çağrıda bulunuyoruz.
            // bu metod dan dönen listeyi kullanarak .each fonksiyonu ile
            // sehirleri dolduruyoruz...
            if (entityId != null && entityId != '') {
                $.ajax({
                    type: "post",
                    url: '@Url.Action("GetProperties", "Fields")',
                    data: { entityId: entityId },
                    success: function (data) {
                        $("#PropertyId").empty();
                        $.each(data, function (index, Property) {
                            $('#PropertyId').append($('<option/>', {
                                value: data[index].id,
                                text: data[index].name
                            }));
                        });
                    },
                    error: function () {

                        alert("Hata");
                    }

                });
            }
        }
    $(document).ready(function () {
        // ülke seçildiğinde bu fonksiyon çalışır
        LoadProperties($("#EntityId"));
        $('#EntityId').change(function () { LoadProperties(this); });
    });
</script>
}
