@model Edux.Models.Parameter

@{
    ViewData["Title"] = "Düzenle";
}

<h2>Düzenle</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Parametreler</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DisplayName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsRequired" />
                    <label asp-for="IsRequired"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ComponentTypeId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="ComponentTypeId" class="form-control" asp-items="ViewBag.ComponentTypeId"> <option value="">Seçiniz</option> </select>
                <span asp-validation-for="ComponentTypeId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Position" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ParameterType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ParameterType" class="form-control" asp-items="Html.GetEnumSelectList<ParameterType>()"><option value="">Seçiniz</option></select>
                <span asp-validation-for="ParameterType" class="text-danger"></span>
            </div>
        </div>


    <input type="hidden" asp-for="Id" />

        <input asp-for="CreateDate" class="form-control" type="hidden" />
        <input asp-for="CreatedBy" class="form-control" type="hidden" />
        <input asp-for="UpdateDate" class="form-control" type="hidden" />
        <input asp-for="UpdatedBy" class="form-control" type="hidden" />
        <input asp-for="AppTenantId" class="form-control" type="hidden" />


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Listye Geri Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
