@model Edux.Models.Fieldset

@{
    ViewData["Title"] = "Yeni Alan Kümesi";
}

<h2>Yeni Alan Kümesi</h2>

<h4>Oluştur</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DisplayName" class="control-label"></label>
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CssClass" class="control-label"></label>
                <input asp-for="CssClass" class="form-control" />
                <span asp-validation-for="CssClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="AppTenantId" class="control-label"></label>
                <input asp-for="AppTenantId" class="form-control" />
                <span asp-validation-for="AppTenantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Oluştur" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
