@{
    ViewData["Title"] = "E-posta Doğrulama";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        E-postanızı doğruladığınız için teşekkürler. Giriş yapmak için lütfen <a asp-controller="Account" asp-action="Login">buraya</a> tıklayınız.
    </p>
</div>
