@model Edux.Models.Tab

@{
    ViewData["Title"] = "Sekmeler Düzenle";
}

<h2>Düzenle</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Sekme</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DisplayName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FormId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="FormId" class="form-control" asp-items="(SelectList)@ViewData["FormId"]"><option value="">Seçiniz</option></select>
                <span asp-validation-for="FormId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Position" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="IsReadOnly" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IsReadOnly" class="checkbox">
                <span asp-validation-for="IsReadOnly" class="text-danger"></span>

            </div>
        </div>

        <div class="form-group">
            <label asp-for=" IsVisible" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for=" IsVisible" class="checkbox">
                <span asp-validation-for=" IsVisible" class="text-danger"></span>

            </div>
        </div>
        <div class="form-group">
            <label asp-for="InvisibleToRoles" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="InvisibleToRoles" class="form-control" />
                <span asp-validation-for="InvisibleToRoles" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="VisibleToRoles" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="VisibleToRoles" class="form-control" />
                <span asp-validation-for="VisibleToRoles" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ReadOnlyToRoles" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ReadOnlyToRoles" class="form-control" />
                <span asp-validation-for="ReadOnlyToRoles" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EditableToRoles" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EditableToRoles" class="form-control" />
                <span asp-validation-for="EditableToRoles" class="text-danger"></span>
            </div>
        </div>

        <input type="hidden" asp-for="Id" />
        <input asp-for="CreateDate" class="form-control" type="hidden" />
        <input asp-for="CreatedBy" class="form-control" type="hidden" />
        <input asp-for="UpdateDate" class="form-control" type="hidden" />
        <input asp-for="UpdatedBy" class="form-control" type="hidden" />
        <input asp-for="AppTenantId" class="form-control" type="hidden" />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Listeye Geri Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
