@model Edux.Models.App

@{
    ViewData["Title"] = "Edit";
}

<h2>Düzenle</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Uygulama</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Slug" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DisplayName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Icon" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Icon" class="form-control" />
                <span asp-validation-for="Icon" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DefaultLayout" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DefaultLayout" class="form-control" />
                <span asp-validation-for="DefaultLayout" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AllowedRoles" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AllowedRoles" class="form-control" />
                <span asp-validation-for="AllowedRoles" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DefaultPage" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DefaultPage" class="form-control" />
                <span asp-validation-for="DefaultPage" class="text-danger"></span>
            </div>
        </div>
        <input asp-for="CreateDate" class="form-control" type="hidden" />
        <input asp-for="CreatedBy" class="form-control" type="hidden" />
        <input asp-for="UpdateDate" class="form-control" type="hidden" />
        <input asp-for="UpdatedBy" class="form-control" type="hidden" />
        <input asp-for="AppTenantId" class="form-control" type="hidden" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Listeye Geri Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
